trigger:
  branches:
    include:
      - main

pool:
  name: Default

variables:
  - group: 'Terraform_Secrets'

steps:
- task: Bash@3
  displayName: Dump Secrets
  inputs:
    targetType: inline
    script: |
      echo "Client ID: $TF_VAR_client_id"
      echo "Tenant ID: $TF_VAR_tenant_id"